*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  height: 100%;
}

:root {
  /* rest of the colors */
  --black: #222;
  --white: #fff;

  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;

  --view-width: 90vw;
}

body {
  background: var(--backgroundColor);
  font-weight: 400;
  line-height: 1;
  color: var(--textColor);
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--white);
}

.page {
  padding: 2rem 2rem;
}
